# Twitter API Workbook

In [16]:
import pandas as pd
import json
import re
import requests
import pickle

# Database 1

In [17]:
df = pd.read_csv('../data/hate.csv')
df.head()

,Tweet ID,User ID,Hate Probability,Counterhate Probability,Neutral Probability,Label
0,1242513753733808128,1037398540698312704,0.625769,0.210356,0.063975,Hate
1,1242355882119155713,1242352444136247298,0.793170,0.133605,0.008983,Hate
2,1242280806711611392,14369596,0.664656,0.447038,0.075040,Hate
3,1242484533875707910,1067189627721850880,0.798824,0.015304,0.112250,Hate
4,1242433526407917568,3139806542,0.969103,0.001253,0.092968,Hate

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891204 entries, 0 to 891203
Data columns (total 6 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Tweet ID                 891204 non-null  int64
 1   User ID                  891204 non-null  int64
 2   Hate Probability         891204 non-null  float64
 3   Counterhate Probability  891204 non-null  float64
 4   Neutral Probability      891204 non-null  float64
 5   Label                    891204 non-null  object
dtypes: float64(3), int64(2), object(1)
memory usage: 40.8+ MB

In [19]:
sorted_df = df.sort_values(by='Hate Probability', ascending=False)
sorted_df.head()

,Tweet ID,User ID,Hate Probability,Counterhate Probability,Neutral Probability,Label
560314,1240976182494908416,884055068265164801,0.999974,0.000520,0.000382,Hate
515476,1238239331879464960,1136405401770106880,0.999966,0.000625,0.000105,Hate
396712,1247813175996792834,1234197517006450688,0.999959,0.003865,0.000018,Hate
424027,1245317927823233024,1232772980763054081,0.999958,0.001476,0.000318,Hate
380359,1241373862756888577,907414928,0.999952,0.018423,0.000788,Hate

In [87]:
def group_list(l,size = 100):
    """
    Generate batches of 100 ids in each
    Returns list of strings with , seperated ids
    """
    n_l =[]
    idx = 0
    while idx < len(l):        
        n_l.append(
            ','.join([str(i) for i in l[idx:idx+size]])
        )
        idx += size
    return n_l

In [88]:
l = group_list(list(sorted_df['Tweet ID']),100)

In [121]:
len(l)

8913

In [90]:
l1 = l[:2]

In [186]:
def tweets_request(tweets_ids):
    
    """
    Make a requests to Tweeter API 
    """
    
    df_lst = []
    
    for batch in tweets_ids:
        url = "https://api.twitter.com/2/tweets?ids={}&tweet.fields=created_at&expansions=author_id&user.fields=created_at".format(batch)
        payload={}
        headers = {'Authorization': 'Bearer AAAAAAAAAAAAAAAAAAAAAC%2BENQEAAAAAfnFSBfOaRPm%2BlE8tcIlSeowiivU%3DFflwidmT12NN6jAHbaD4yACV2vULoVD4UaoKc0A92Bc4pQEoWo',
        'Cookie': 'personalization_id="v1_hzpv7qXpjB6CteyAHDWYQQ=="; guest_id=v1%3A161498381400435837'}
        r = requests.request("GET", url, headers=headers, data=payload)
        data = r.json()
        if 'data' in data.keys():
            df_lst.append(pd.DataFrame(data['data']))
    
    return pd.concat(df_lst)

In [122]:
df_150 = tweets_request(l[:150])

In [135]:
df_150.head()

,author_id,id,created_at,text
0,884055068265164801,1240976182494908416,2020-03-20T12:19:12.000Z,Fuck the ding dongs. Fuck the ching chongs. An...
1,1136405401770106880,1238239331879464960,2020-03-12T23:03:56.000Z,Fuck china fuck China fuck China\nFuck China f...
2,907414928,1241373862756888577,2020-03-21T14:39:27.000Z,"I do nâ€™t believe this is eating bats, which is..."
3,1134698470760017920,1238588936391290880,2020-03-13T22:13:08.000Z,"@Peoples_Pundit CCP Wuhan Virus, more Chinese ..."
4,35525602,1240774162760617984,2020-03-19T22:56:27.000Z,Dr. Sean Lin said call it what it is - #ChinaV...

In [185]:
df_150.to_csv('../data/df_150.csv')

In [192]:
df_150

,author_id,id,created_at,text
0,884055068265164801,1240976182494908416,2020-03-20T12:19:12.000Z,Fuck the ding dongs. Fuck the ching chongs. An...
1,1136405401770106880,1238239331879464960,2020-03-12T23:03:56.000Z,Fuck china fuck China fuck China\nFuck China f...
2,907414928,1241373862756888577,2020-03-21T14:39:27.000Z,"I do nâ€™t believe this is eating bats, which is..."
3,1134698470760017920,1238588936391290880,2020-03-13T22:13:08.000Z,"@Peoples_Pundit CCP Wuhan Virus, more Chinese ..."
4,35525602,1240774162760617984,2020-03-19T22:56:27.000Z,Dr. Sean Lin said call it what it is - #ChinaV...
...,...,...,...,...
46,858072977165897728,1246677690205306880,2020-04-05T05:54:58.000Z,I love this cover video. ðŸ˜‚ðŸ¤£ðŸ¦ Xi is the evilest ...
47,72907352,1243392068539412483,2020-03-27T04:19:04.000Z,@globaltimesnews Is #ChinaVirus #WuhanVirus a ...
48,1245635151469527042,1247741029056274432,2020-04-08T04:20:17.000Z,@globaltimesnews Chinese Garbage kids have bee...
49,1245635151469527042,1247741315078488065,2020-04-08T04:21:26.000Z,@globaltimesnews @Tsinghua_Uni Chinese Garbage...
50,1244582003229339648,1249555005561962496,2020-04-13T04:28:23.000Z,@GordonGChang China must announce the real dat...

# Database 2

In [151]:
df2 = pd.read_csv('../data/hate_add.csv')
df2 = df2[(df2['racism']=='racism') | (df2['racism']=='sexism')]

In [152]:
df2.racism.value_counts()

sexism    3378
racism    1969
Name: racism, dtype: int64

In [153]:
df2.columns = ['id','label']

In [158]:
racism_sex_hate_id = group_list(list(df2.id))

In [190]:
df_rac_sex_hate = tweets_request(racism_sex_hate_id)

In [193]:
df_rac_sex_hate

,id,author_id,created_at,text
0,572341498827522049,110114783,2015-03-02T10:23:41.000Z,Drasko they didn't cook half a bird you idiot ...
1,572340476503724032,38650214,2015-03-02T10:19:37.000Z,Hopefully someone cooks Drasko in the next ep ...
2,572334712804384768,2587278392,2015-03-02T09:56:43.000Z,of course you were born in serbia...you're as ...
3,572332655397629952,2601524623,2015-03-02T09:48:33.000Z,These girls are the equivalent of the irritati...
0,446460991396917248,930620467,2014-03-20T01:39:29.000Z,RT @YesYoureRacist: At least you're only a tin...
...,...,...,...,...
24,569990621315919872,2756873076,2015-02-23T22:42:08.000Z,"RT @Superjutah: @MT8_9 Â£34,000 is Â£9000 above ..."
25,570244879265206272,2756873076,2015-02-24T15:32:28.000Z,RT @DufresneFrank: â€œ@gabystama: @DufresneFrank...
26,571013698111860736,2756873076,2015-02-26T18:27:29.000Z,RT @BoycottBrandy: @ActionFlickDoc this person...
27,571304517930774528,2756873076,2015-02-27T13:43:06.000Z,RT @Lyall: Patriarchyâ„¢ will expel me if I divu...
28,575664315627216896,2756873076,2015-03-11T14:27:22.000Z,RT @AsheSchow: Womenâ€™s Studies: Learn how to t...

In [195]:
df_rac_sex_hate.to_csv('../data/df_ras_sex_hate.csv')